body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#heading {
  font-size: 40px;
  font-weight: 600;
  background-color: black;
  color: white;
  border: 3px solid blue;
  border-radius: 30px;
}

.countries-container {
  margin-top: 30px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  column-gap: 15px;
  background-color: rgb(2, 2, 54);
}

.country {
  cursor: pointer;
  margin-top: 30px;
  padding: 1px;
}

.flag-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 310px;
  height: 160px;
  aspect-ratio: auto;
  margin-bottom: 15px;
}
.flag-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 310px;
  height: 160px;
  aspect-ratio: auto;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 310px;
  height: 160px;
  aspect-ratio: auto;
}

.overlay {
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: grey;
}
.popup {
  position: fixed;
  /* width: 70%; */
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.popup-info {
  align-items: flex-start;
}
.popup-image {
  width: 310px;
  height: 160px;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
  padding: 5px;
  font-size: 16px;
}

.popup-btn-close {
  align-self: flex-end;
  background-color: red;
  font-size: 20px;
  width: 40px;
  color: white;
  border: 1px solid blue;
  border-radius: 100px;
}

/*  */
/*  CSS Loader*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*  */
/*  */

@media all and (max-width: 425px) {
  #heading {
    font-size: 28px;
  }
}
@media all and (max-width: 305px) {
  #heading {
    font-size: 20px;
  }
}

/* * {
  border: 1px solid red;
} */
